
body{
    font-family: Arial, sans-serif;
    background-color: #f4f8fc;
    color: #333;

}
h1, h2, h3, h4 {
  color:black; 
  /* #0d47a1  */
  margin: 15px;
}
p{
    margin: 20px;
}
figure>img{
    border-radius: 300px;
    border-style: groove;
}
hr {
  border: 1px solid #ccc;
  margin: 20px 0;
}
header {
  background-color: #e3f2fd;
  border-radius:20px;
  padding: 15px 10px;
  text-align: center;
  border-bottom: 2px solid #90caf9;
}
nav a {
text-decoration:none;
  color: #0d47a1;
  font-weight: bold;
  margin: 0 12px;
  font-size: 16px;
}
nav a:hover {
  color: #1976d2;
  text-decoration:underline;
}
section, article, blockquote {
  padding: 0 20px;
  margin-bottom: 30px;
}
blockquote {
  background-color: #e3f2fd;
  border-left: 6px solid #2196f3;
  padding: 15px;
  border-radius: 20px;
  margin: 20px;
  font-style: italic;
}
address {
  font-style: normal;
  color: #444;
}
.collage,.schl,.ceri,.archivement,.pro,.ski{
  background-color: #e3f2fd;
  border-left: 6px solid #2196f3;
  padding: 15px;
  border-radius: 20px;
  margin: 20px;
}
#about,#edu,#arch,#project,#skill{
    background-color: 	#64b5f6;
    padding-bottom: 5px;
    padding-top: 3px;
    border-radius:20px ;
}
#platform{
    margin-right: 10px;
    background-color: 	#64b5f6;
    padding-bottom: 5px;
    padding-top: 3px;
    border-radius:20px ;
}
.con{
    border-style: dotted;
    background-color: #64b5f6;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 20px;
}

